html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font: 1.2em Helvetica, sans-serif;
}

h1 {
  font-size: 1.8em;
}

/* small */
@media screen and (max-width: 768px) {
  body {
    background-color: thistle;
    margin: 0 3%;
  }
}
/* medium */
@media screen and (min-width: 769px) and (max-width: 1200px){
  body {
    background-color: rgb(179, 223, 201);
    margin: 25px 6%;
  }

  nav ul {
    display: flex;
    justify-content: flex-start;
    padding: 0;
  }

  nav ul li {
    list-style-type: none;
    padding: 10px 20px 10px 0 ;
    margin-right: 10px;
  }

  .asides {
    display: flex;
  }

  .aside-one {
    width: 50%;
  }

  .aside-two {
    width: 50%;
  }
}

/* large */
@media screen and (min-width: 1200px) {
  body {
    background-color: rgb(179, 193, 223);
    margin: 15px 6%;
  }

  .container {
    display: flex;
    flex-wrap: wrap;
  }

  header {
    flex-basis: 100%;
  }

  .asides {
    flex-basis: 18%;
  }

  .main-content {
    flex-basis: 60%;
    margin-left: 2%;
  }

  footer{
    flex-basis: 18%;
    margin-left: 2%;
  }

  nav ul {
    display: flex;
    justify-content: flex-start;
    padding: 0;
  }
  
  nav ul li {
    list-style-type: none;
    padding: 10px 20px 10px 0 ;
    margin-right: 10px;
  }
}

