body {
  font-size: 18px;
  margin: 4%;
}

h1 {
font-size: 25px;
}

h2 {

}

img {
    max-width: 100%;
}

figure {
    margin: 0;
    margin-bottom: 20px;
    text-align: center;
}

@media screen and (min-width: 798px){
  body {
    background: rgb(243, 243, 175);
    font-size: 15px;
    margin: 4% 5%;
  }

  h1 {
    font-size: 30px;
  }

  main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  main h2 {
    flex-basis: 100%;
  }

  figure {
    flex-basis: 40%;
    padding: 8px;
    text-align: center;
  }
}

@media screen and (min-width: 1200px) {
  body {
    background: rgb(146, 197, 209);
    font-size: 25px;
    margin: 30px 10%;
    max-width: 1150px
  }

  h1 {
    font-size: 38px;
  }

  figure {
    flex-basis: 30%;
    padding: 15px;
  }
}